In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
!dir

 O volume na unidade C não tem nome.
 O Número de Série do Volume é D8D6-4768

 Pasta de C:\Users\braian.dias\datascience\visualizacao-info

29/08/2018  09:38    <DIR>          .
29/08/2018  09:38    <DIR>          ..
29/08/2018  09:36    <DIR>          .ipynb_checkpoints
22/08/2018  10:23         8.849.456 02-classes-dados.pdf
23/08/2018  14:18             6.833 categories_places365.txt
17/08/2018  14:01             9.132 Cronograma.xlsx
29/08/2018  09:38               765 dados_exercício_tableau.ipynb
29/08/2018  09:24    <DIR>          dataset
24/08/2018  10:00           533.105 Gartner Magic Quadrant BI&Analytics 2018.pdf
27/08/2018  16:37           266.081 gerador_de_dados.ipynb
28/08/2018  11:18             3.218 links_uteis.txt
22/08/2018  10:04           226.273 low-level components of analytic activity in inf. visualization.pdf
27/08/2018  16:27             4.677 model_scores.csv
27/08/2018  16:35             4.677 model_scores_alt.csv
15/08/2018  14:50                19 README.md
27/08/2018  16:08             7.335 scores.csv
23/08/2018  17:20             2.762 score_a.csv
23/08/2018  17:38             2.842 score_b.csv
27/08/2018  18:01           432.935 visualizacao_modelos.ipynb
22/08/2018  10:05           983.854 Wainer2007-improving_data.pdf
              16 arquivo(s)     11.333.964 bytes
               4 pasta(s)   175.734.644.736 bytes disponíveis

In [4]:
crimedf = pd.read_csv('dataset/train.csv')

In [32]:
crimedf.head()

,Dates,Category,Descript,DayOfWeek,PdDistrict,Resolution,Address,X,Y,Resolution_ID,Category_ID
0,2015-05-13 23:53:00,WARRANTS,WARRANT ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599,0,0
1,2015-05-13 23:53:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599,0,1
2,2015-05-13 23:33:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",VANNESS AV / GREENWICH ST,-122.424363,37.800414,0,1
3,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,NORTHERN,NONE,1500 Block of LOMBARD ST,-122.426995,37.800873,1,2
4,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,PARK,NONE,100 Block of BRODERICK ST,-122.438738,37.771541,1,2

In [11]:
crimedf['DayOfWeek'].unique()

array(['Wednesday', 'Tuesday', 'Monday', 'Sunday', 'Saturday', 'Friday',
       'Thursday'], dtype=object)

* Transformar DayOfWeek num número
* Extrair Category e Resolution para uma tabela externa

In [24]:
resolution = crimedf['Resolution'].unique()
resolution_df = pd.DataFrame(resolution_df)

category = crimedf['Category'].unique()
category_df = pd.DataFrame(category_df)

In [29]:
crimedf['Resolution_ID'] = -1
for idx,ID in enumerate(resolution):
    crimedf.loc[crimedf['Resolution']==ID,'Resolution_ID'] = idx

In [31]:
crimedf['Category_ID'] = -1
for idx,ID in enumerate(category):
    crimedf.loc[crimedf['Category']==ID,'Category_ID'] = idx

In [33]:
resolution_df.to_csv('resolution.csv')
category_df.to_csv('category.csv')

In [38]:
new_crime_df = crimedf.drop(columns=['Category','Resolution'])

In [41]:
new_crime_df.head()
new_crime_df.to_csv('crime_sf.csv',index=False,decimal=',')